<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>상품 수정</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<!--  nav 영역 시작-->
<div th:replace="fragment/nav"></div>

<div class="container">

<div class="card m-3">
  <div class="card-header">
    상품 수정
  </div>
  <div class="card-body">

    <form method="post" enctype="multipart/form-data">

      <input type="hidden" name="sidx" th:value="${product.sidx}">

      <div class="mb-3">
        <label for="product" class="form-label">상품명</label>
        <input type="text" class="form-control" id="product" name="product" th:value="${product.product}">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">판매가격</label>
        <input type="text" class="form-control" id="price" name="price" th:value="${product.price}">
      </div>
      <div class="mb-3">
        <label for="qty" class="form-label">재고수량</label>
        <input type="text" class="form-control" id="qty" name="qty" th:value="${product.qty}" readonly>
      </div>
      <div class="mb-3">
        <input type="hidden" name="oldFile" th:value="${product.photo}">
        <label for="newphoto" class="form-label">대표사진</label>
        <input type="file" class="form-control" id="newphoto" name="newphoto">
      </div>

      <div class="mb-3">
        <input type="hidden" name="olddes1" th:value="${product.des1}">
        <label for="newdes1" class="form-label">상세사진1</label>
        <input type="file" class="form-control" id="newdes1" name="newdes1">
      </div>

      <div class="mb-3">
        <input type="hidden" name="olddes2" th:value="${product.des2}">
        <label for="newdes2" class="form-label">상세사진2</label>
        <input type="file" class="form-control" id="newdes2" name="newdes2">
      </div>

      <div class="mb-3">
        <label for="sale" class="form-label">품절처리</label>
        <input type="checkbox" id="sale" name="sale" th:checked="${product.sale ? 'checked' : ''}">
      </div>

      <div class="mb-3">
        <input type="reset"  class="btn btn-outline-secondary" value="재입력"> <input type="submit" class="btn btn-outline-warning" value="수정">
        <a class="btn btn-outline-danger" th:href="@{/sell/list}">돌아가기</a>
      </div>

    </form>


  </div>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>


</html>