<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FOR EARTH | 상품 수정</title>
  <link rel='stylesheet' href='/css/woocommerce-layout.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
  <link rel='stylesheet' href='/css/woocommerce.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='/style.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
  <link rel='stylesheet' href='/css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
</head>
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
<div id="page">
  <div class="container">
    <header id="masthead" class="site-header">
      <div class="site-branding">
        <div class="col-1" style="margin-left: 800px" >
          <ul>
      				<span sec:authorize="hasRole('USER')">
            		<a class="btn btn-outline-secondary" href="/member/info">내정보</a>
        			</span>
            <span sec:authorize="hasRole('ADMIN')">
            		<a class="btn btn-outline-secondary" href="/member/list">회원리스트</a>
          			</span>
            <br/>
            <span sec:authorize="isAuthenticated()"><a class="btn btn-outline-secondary" href="/auth/logout">로그아웃</a></span>
            <span sec:authorize="!isAuthenticated()"><a class="btn btn-outline-secondary" href="/member/login">로그인</a></span>
            <span sec:authorize="!isAuthenticated()"><a class="btn btn-outline-secondary" href="/member/join">회원가입</a></span>
          </ul>
          <ul>
            <span sec:authorize="isAuthenticated()">name: <span sec:authentication="principal.member.username"></span></span><br>
          </ul>
        </div>
        <h3 class="site-title"><a href="/" rel="home">FOR Earth [Recycle]</a></h3>
        <h3 class="site-description">중고 거래 플랫폼</h3>

      </div>
      <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle">Menu</button>
        <a class="skip-link screen-reader-text" href="#">Skip to content</a>
        <div class="menu-menu-1-container">
          <ul id="menu-menu-1" class="menu">
            <li><a href="/">홈</a></li>
            <li><a href="/sell/list">전체</a></li>
            <li><a th:href="@{/sell/category(category=${'의류'})}">의류</a></li>
            <li><a th:href="@{/sell/category(category=${'생활용품'})}">생활용품</a></li>
            <li><a th:href="@{/sell/category(category=${'애완용품'})}">애완용품</a></li>
            <li><a th:href="@{/sell/category(category=${'전자제품'})}">전자제품</a></li>
            <li><a th:href="@{/sell/category(category=${'기타'})}">기타</a></li>

            <li class="navbar-collapse col-3" style="margin-left: 80px">
              <form action="/sell/search" method="get" class="d-flex" role="search">
                <select class="form-select" name="searchOption">
                  <option value="product">상품명</option>
                  <option value="price">금액</option>
                </select>
                <input class="form-control" type="text" name="keyword" placeholder="search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </header>


    <div id="comments" class="comments-area">
      <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">상품 수정 <small><a rel="nofollow" id="cancel-comment-reply-link" href="/demo-moschino/embed-audio/#respond" style="display:none;">Cancel reply</a></small></h3>
        <form method="post" enctype="multipart/form-data" class="comment-form">

          <input type="hidden" name="sidx" th:value="${product.sidx}">
          <input type="hidden" id="writer" name="writer" th:value="${#authentication.principal.member.uidx}" >

          <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select name="category" id="category" class="form-control">
              <option value="의류">의류</option>
              <option value="생활용품">생활용품</option>
              <option value="애완용품">애완용품</option>
              <option value="전자제품">전자제품</option>
              <option value="기타">기타</option>
            </select>
          </div>

          <p class="comment-form-author">
            <label for="product">상품명 <span class="required">*</span></label>
            <input id="product" name="product" type="text" th:value="${product.product}" size="30" aria-required="true" required="required">
          </p>

          <p class="comment-form-author">
            <label for="price">가격 <span class="required">*</span></label>
            <input id="price" name="price" type="text" th:value="${product.price}" size="30" aria-required="true" required="required">
          </p>

          <p class="comment-form-comment">
            <label for="description">상세설명</label>
            <textarea id="description" name="description" cols="45" rows="8" aria-required="true" required>[[${product.description}]]</textarea>
          </p>

          <div class="mb-3">
            <label for="sale" class="form-label">판매완료</label>
            <input type="checkbox" id="sale" name="sale" th:checked="${product.sale ? 'checked' : ''}">
          </div>

          <div class="mb-3">
            <input type="hidden" name="oldFile" th:value="${product.photo}">
            <label for="newphoto" class="form-label">대표사진</label>
            <input type="file" class="form-control" id="newphoto" name="newphoto">
          </div>

          <div class="mb-3">
            <input type="hidden" name="olddes1" th:value="${product.des1}">
            <label for="newdes1" class="form-label">상세사진</label>
            <input type="file" class="form-control" id="newdes1" name="newdes1">
          </div>

          <p class="form-submit" style="margin-top: 10px;margin-bottom: 10px;">
            <input type="reset" value="재입력">
            <input name="submit" type="submit" class="submit" value="수정">
            <a class="button" th:href="@{/sell/list}">돌아가기</a>
          </p>
          <noscript>
          </noscript>
        </form>
      </div>
      <!-- #respond -->
    </div>

    </form>

  </div>
  <!-- #content -->
</div>
<!-- .container -->
<footer id="colophon" class="site-footer">
  <div class="container">
    <div class="site-info">
      <h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">FOR EARTH</h1>
      Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>

    </div>
  </div>
</footer>
<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src='js/jquery.js'></script>
<script src='js/plugins.js'></script>
<script src='js/scripts.js'></script>
<script src='js/masonry.pkgd.min.js'></script>
</body>
</html>